PORT=8080

# Azure AD Configuration
AZURE_TENANT_ID=*******************
AZURE_CLIENT_ID=**********************
AZURE_CLIENT_SECRET=*********************

# Power BI Configuration
POWERBI_WORKSPACE_ID=************************
POWERBI_REPORT_ID=************************
